<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gonnys.mapper.BoardMapper">
	<!-- SQL:search -->
	<sql id="searchSQL">
		<if test="types != null">
			<foreach item="item" collection="types" open="AND ("
				close=")" separator="OR">

				<if test="item == 't'.toString()">
					title like concat('%', #{keyword}, '%')
				</if>
				<if test="item == 'c'.toString()">
					content like concat('%', #{keyword}, '%')
				</if>
				<if test="item == 'w'.toString()">
					writer like concat('%', #{keyword}, '%')
				</if>

			</foreach>
		</if>
	</sql>


	<!-- Get List -->
	<select id="getList" resultType="org.gonnys.domain.Board">
		select * from tbl_board
		where 1 = 1
		<include refid="searchSQL"></include>
		and bno > (select max(bno) - 100000 from tbl_board)
		order by bno desc
		limit #{skip}, #{display}
	</select>
	

	<!-- Count -->
	<select id="count" resultType="int">
		select count(*) from tbl_board
		where 1 = 1
		<include refid="searchSQL"></include>
		and bno > (select max(bno) - 100000 from tbl_board)
	</select>


	<!-- Get -->
	<select id="get" resultType="org.gonnys.domain.Board">
		select * from tbl_board where bno =
		#{bno}
	</select>


	<!-- Insert -->
	<insert id="insert">
		insert into tbl_board (title, content, writer) values
		(#{title}, #{content},
		#{writer})
	</insert>


	<!-- Delete -->
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>


	<!-- Update -->
	<update id="update">
		update tbl_board set title = #{title}, content =
		#{content} where bno =
		#{bno}
	</update>


</mapper>
